@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.glitch-text {
  position: relative;
  animation: glitch 3s infinite;
}

.glitch-text::before,
.glitch-text::after {
  content: 'Taiga With...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 900px, 0, 0);
}

.glitch-text::before {
  left: 2px;
  text-shadow: -1px 0 #027d9c;
  animation: glitch-anim 2s infinite linear alternate-reverse;
}

.glitch-text::after {
  left: -2px;
  text-shadow: 1px 0 #027d9c;
  animation: glitch-anim 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(64px, 9999px, 98px, 0);
  }
  5% {
    clip: rect(30px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(43px, 9999px, 56px, 0);
  }
  15% {
    clip: rect(86px, 9999px, 29px, 0);
  }
  20% {
    clip: rect(35px, 9999px, 99px, 0);
  }
  25% {
    clip: rect(76px, 9999px, 69px, 0);
  }
  30% {
    clip: rect(23px, 9999px, 98px, 0);
  }
  35% {
    clip: rect(16px, 9999px, 25px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 78px, 0);
  }
  45% {
    clip: rect(72px, 9999px, 64px, 0);
  }
  50% {
    clip: rect(29px, 9999px, 99px, 0);
  }
  55% {
    clip: rect(53px, 9999px, 55px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 71px, 0);
  }
  65% {
    clip: rect(89px, 9999px, 98px, 0);
  }
  70% {
    clip: rect(83px, 9999px, 32px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(66px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(82px, 9999px, 21px, 0);
  }
  90% {
    clip: rect(24px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 91px, 0);
  }
  100% {
    clip: rect(95px, 9999px, 75px, 0);
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}
